{
  "plugins": [
    [
      "@emotion",
      {
        "labelFormat": "[filename]-[local]"
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-react",
      { "importSource": "@emotion/react", "runtime": "automatic" }
    ],
    "@babel/preset-typescript"
  ]
}
